<a href="
intent:
  //8xn9iq3lG_w/
  #Intent;
    scheme=myomirom;
    package=com.supect.omirom
    S.browser_fallback_url=market://details?id=com.google.android.youtube;
end;
">youtube or market</a>